body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Upewnij się, że body i html mają wysokość 100% */
}

h1 {
    color: #333;
}


footer {
    background-color: green; /* Zielone tło */
    color: white; /* Biały tekst */
    text-align: center; /* Wyśrodkowanie tekstu */
    padding: 15px; /* Wewnętrzny odstęp */
    /*position: fixed; /* Przyklejenie stopki do dołu */
    bottom: 0;
    left: 0; /* Przypięcie do lewej strony */
    width: 100%; /* Pełna szerokość ekranu */
    box-sizing: border-box; /* Zapobiega przesunięciom przez padding */
}

.content {
    border: 5px solid green; /* Zielona ramka */
    width: calc(100% - 40px); /* Pełna szerokość strony */
    min-height: calc(100vh - 120px); /* Wypełnia całą wysokość ekranu minus stopka */
    padding: 20px; /* Odstęp od krawędzi ramki */
    box-sizing: border-box; /* Zapobiega rozpychaniu ramki przez padding */
    background-color: white; /* Opcjonalne tło */
    border-radius: 15px; /* Zaokrąglone rogi ramki */
    margin: 20px;
    display: flex; /* Ustawiamy Flexbox na elemencie .content */
    justify-content: center;
    align-items: center;
}

.verify-container {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    padding: 40px 60px;
    text-align: center;
    max-width: 500px;
}

    .verify-container h1 {
        color: #333;
        margin-bottom: 10px;
    }

    .verify-container p {
        color: #555;
        line-height: 1.5;
    }

    .verify-container .icon {
        font-size: 48px;
        color: #007bff;
        margin-bottom: 20px;
    }

    .verify-container a {
        display: inline-block;
        margin-top: 25px;
        padding: 10px 20px;
        border-radius: 8px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
    }

        .verify-container a:hover {
            background-color: #0056b3;
        }
