body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Upewnij się, że body i html mają wysokość 100% */
}

.content {
    border: 5px solid green; /* Zielona ramka */
    width: calc(100% - 100px); /* Pełna szerokość strony */
    min-height: calc(100vh - 120px); /* Wypełnia całą wysokość ekranu minus stopka */
    padding: 20px; /* Odstęp od krawędzi ramki */
    box-sizing: border-box; /* Zapobiega rozpychaniu ramki przez padding */
    background-color: white; /* Opcjonalne tło */
    border-radius: 15px; /* Zaokrąglone rogi ramki */
    margin: 20px 50px 20px 50px;
    display: grid; /* ✅ Grid zamiast Flex */
    grid-template-columns: 1fr 2fr; /* 🧩 1/3 i 2/3 szerokości */
    gap: 20px;
}

.menu {
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    padding: 20px;
}
.menu a {
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.menu-option {
    border: 5px solid green;
    margin-bottom: 15px;
    padding: 20px 20px;
    background-color: #f8f8f8;
    color: black;
    border-radius: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.menu-option:hover {
    background-color: green;
    color: white;
    transform: scale(1.05);
}

.menu-option.active {
    background-color: green; /* wygląd jak po hover */
    color: white;
    transform: scale(1.05);
}

.description {
    padding: 20px;
}

footer {
    background-color: green; /* Zielone tło */
    color: white; /* Biały tekst */
    text-align: center; /* Wyśrodkowanie tekstu */
    padding: 15px; /* Wewnętrzny odstęp */
    bottom: 0;
    left: 0; /* Przypięcie do lewej strony */
    width: 100%; /* Pełna szerokość ekranu */
    box-sizing: border-box; /* Zapobiega przesunięciom przez padding */
}
